<div class="flex item-center justify-center">
  <button
    class="px-5 py-2 rounded-l text-blue-100 bg-blue-800 hover:bg-blue-600 border-r"
  >
    First
  </button>
  <button class="px-5 py-2 text-blue-100 bg-blue-800 hover:bg-blue-600">
    Previous
  </button>

  <span class="p-2 border">{{ pageNumber }}</span>

  <button
    class="px-5 py-2 text-blue-100 bg-blue-800 hover:bg-blue-600 border-r"
  >
    Next
  </button>
  <button
    class="px-5 py-2 rounded-r text-blue-100 bg-blue-800 hover:bg-blue-600"
  >
    Last
  </button>
</div>
